
.jumbotron {
    background-image: url('http://www.mossawi.nl/csgo/assets/images/original/mossawi_304501613136_20150715184311_443103266879.png');
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;

}
.jumbotron p {
    color: #fff;
    font-size: 20px;
}    

 .jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
    }
